{% extends 'base.html.twig' %}
{% import 'components/button/index.html.twig' as buttons %}
{% import 'components/Icons.html.twig' as icon %}

{% block title %}
    {{ 'title.invoice'|trans }}
{% endblock %}

{% block body %}
    <div class="flex items-center justify-between">
        {{ include('components/title.html.twig', {'txt_label': 'Facturas'}) }}
        {{ buttons.button_new(path('app_invoice_new')) }}
    </div>

    <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
            <table class="w-full whitespace-no-wrap">
                <thead>
                    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3">
                            {{ 'field.name'|trans }}
                        </th>
                        <th class="px-4 py-3">
                            {{ 'field.date'|trans }}
                        </th>
                        <th class="px-4 py-3">
                            {{ 'field.amount'|trans }}
                        </th>
                        <th class="px-4 py-3">
                            {{ 'field.status'|trans }}
                        </th>
                        <th class="px-4 py-3 text-center">
                            {{ 'field.action'|trans }}
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    {% for invoice in invoices %}
                        <tr class="text-gray-700 dark:text-gray-300">
                            <td class="px-6 py-3 text-left whitespace-nowrap ">
                                <div class="flex text-sm">
                                    <div class="relative hidden w-12 h-12 md:block">
                                        {{ icon.PDFIcon() }}
                                    </div>
                                    <div class="font-semibold">
                                        Invoice #
                                        {{ invoice.id }}
                                    </div>
                                </div>
                            </td>

                            <td class="px-4 py-3">
                                {{ invoice.createdAt ? invoice.createdAt|date('F d, Y') : '' }}
                            </td>
                            <td class="px-4 py-3">
                                $
                                {{ invoice.totalAmount }}
                            </td>
                            <td class="px-4 py-3 text-xs uppercase">
                                <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                                    {{ invoice.status }}
                                </span>
                            </td>
                            <td class="px-4 py-3 text-center">
                                <div class="flex items-center justify-center text-sm">
                                    {{ buttons.button_show( path('app_invoice_show', {'id': invoice.id})) }}
                                    {{ buttons.button_delete( path('app_invoice_delete', {'id': invoice.id}), invoice.id) }}

                                </div>
                            </td>
                        </tr>
                    {% else %}
                        {{ include('components/NotFound.html.twig',{'colum': '6'}) }}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
