{% import 'components/button/index.html.twig' as buttons %}

<div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
    <form method="POST" enctype="multipart/form-data">
        {{ form_start(form) }}
        <div class="flex flex-col md:flex-row items-center justify-center">
            {% include 'components/ImageUploader.html.twig' with { for_id: form.image.vars.id } %}
            {{ form_widget(form.image) }}
            <label class="block text-sm w-full md:w-2/3">
                <span class="text-gray-700 dark:text-gray-400 my-2 capitalize">
                    {{ 'field.name'|trans }}
                </span>
                {{ form_widget(form.name, { 'attr': {'class': 'block w-full mt-1 text-sm my-2 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input' } }) }}
            </label>
        </div>

        {% include 'components/button/ButtonBotton.html.twig' with { button: buttons.button_submit() } %}

        {{ form_end(form) }}
    </form>

</div>
