{% extends 'base.html.twig' %}
{% import 'components/button/index.html.twig' as buttons %}

{% block title %}Lista de Categorias{% endblock %}

{% block body %}
    <div class="flex items-center justify-between">
        {{ include('components/title.html.twig', {'txt_label': 'Categorias'}) }}
        {{ buttons.button_new('Nuevo', path('app_category_new')) }}
         </div>
    
<div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
   <table class="w-full whitespace-no-wrap">
        <thead>
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">Id</th>
                <th class="px-4 py-3">Name</th>
                <th class="px-4 py-3 text-center">actions</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        {% for category in categories %}
            <tr class="text-gray-700 dark:text-gray-300">
                <td class="px-4 py-3">{{ category.id }}</td>
                <td class="px-4 py-3 text-sm">{{ category.name }}</td>
                <td class="px-4 py-3 text-center">
                    <div class="flex items-center justify-center text-sm">
                       {{ buttons.button_edit('Editar', path('app_category_edit', {'id': category.id})) }}
                        {{ buttons.button_show('Mostrar', path('app_category_show', {'id': category.id})) }} 
                        {{ buttons.button_delete('Borrar', path('app_category_delete', {'id': category.id}), category.id) }} 
                    </div>
                </td>
            </tr>
        {% else %}
            {{ include('components/NotFound.html.twig',{'colum': '3'}) }}
        {% endfor %}
        </tbody>
    </table> 
    </div>
</div>
{% endblock %}
