{% extends 'base.html.twig' %}
{% import 'components/buttons.html.twig' as buttons %}

{% block title %}
    Category
{% endblock %}

{% block body %}
    <div class="flex items-center justify-between">
        {{ include('components/title.html.twig', {'txt_label': 'Detalles de la Categoria'}) }}
        <div class="flex inline-flex items-center">            
            {{ buttons.button_back(path('app_category_index')) }}
            {{ buttons.button_delete('Borrar', path('app_category_delete', {'id': category.id}), category.id) }}
        </div>
    </div>

    <table class="table px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800 text-gray-700 dark:text-gray-400 my-2 px-4">
        <tbody>
            <tr>
                <th>
                    Id
                </th>
                <td>
                    {{ category.id }}
                </td>
            </tr>
            <tr>
                <th>
                    Name
                </th>
                <td>
                    {{ category.name }}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
