{% import 'components/buttons.html.twig' as buttons %}

<div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
    {{ form_start(form) }}
    {# first colum #}
    <div class="grid gap-6 mb-2 md:grid-cols-2">
        <div class="block items-center py-4">
            <label class="flex items-center text-sm">
                <span class="text-gray-700 dark:text-gray-400 mb-2">
                    Nombre
                </span>
            </label>
            {{ form_widget(form.name, { 'attr': {'class': 'w-full block text-sm my-2 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input', 'placeholder': 'Nombre del producto'} }) }}
        </div>
        <div class="block items-center py-4">
            <label class="flex items-center text-sm">
                <span class="text-gray-700 dark:text-gray-400 mb-2">
                    Categoria
                </span>
            </label>
            {{ form_widget(form.category) }}
        </div>
    </div>

    {# second colum #}
    <div class="grid gap-6 mb-8 md:grid-cols-2">
        <div class="block items-center py-4">
        <label class="flex items-center text-sm">
            <span class="text-gray-700 dark:text-gray-400 my-2">
                Precio
            </span>
        </label>
        {{ form_widget(form.price, { 'attr': {'class': 'block w-full mt-1 text-sm my-2 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input', 'placeholder': 'Precio del producto'} }) }}
        </div>
        <div class="block items-center py-4">
        <label class="flex items-center text-sm">
            <span class="text-gray-700 dark:text-gray-400 my-2">
                Stock
            </span>
        </label>
        {{ form_widget(form.stock, { 'attr': {'class': 'block w-full mt-1 text-sm my-2 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input', 'placeholder': 'Cantidad del producto'} }) }}
        </div>
    </div>

    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Message
        </span>
        {{ form_widget(form.description, { 'attr': {'class': 'block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray', 'rows':'3', 'placeholder':'Enter some long form content'} }) }}

    </label>

    {{ form_widget(form.images) }}
    <div class="mt-4 text-sm">
        {{ buttons.button_submit(button_label) }}
    </div>
    {{ form_end(form) }}
</div>
