{% extends 'base.html.twig' %}
{% import 'components/button/index.html.twig' as buttons %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="flex items-center justify-between">
        {{ include('components/title.html.twig', {'txt_label': 'Detalles del Producto'}) }}
        <div class="flex inline-flex items-center">            
            {{ buttons.button_back(path('app_product_index')) }}
            {{ buttons.button_delete('Borrar', path('app_product_delete', {'id': product.id}), product.id) }}
        </div>
    </div>

    <div class="text-gray-700 dark:text-gray-400">
    <h1>{{ product.name }}</h1>
    <p>Precio: {{ product.price }}</p>
    <p>Stock: {{ product.stock }}</p>
    <p>Descripción: {{ product.description }}</p>
    
    <div class="grid gap-5 mb-2 md:grid-cols-4">
    {% for image in product.images %}
        <img src="{{ asset('uploads/images/' ~ image.filename) }}" alt="{{ product.name }}" />
    {% endfor %}
    </div>

{% endblock %}
