{% import 'components/button/index.html.twig' as buttons %}
    {% block stylesheets %}
    <style>
        .flex-row {
            color-
    display: flex;
    flex-direction: row;
}

.flex-row input[type="radio"] {
    margin-right: 1rem; /* Espacio entre el botón de opción y el texto */
}

.flex-row label {
    display: flex; /* Para alinear el texto y el botón */
    align-items: center; /* Centrar verticalmente */
}
    </style>
{% endblock %}
<form action="{{ path('app_user_new') }}" method="POST" enctype="multipart/form-data">
    {{ form_start(form) }}
    <div class="bg-white dark:bg-gray-800 rounded-xl shadow-2xl w-full p-8 transition-all duration-300 animate-fade-in px-4 py-3 mb-8">
        <div class="flex flex-col md:flex-row">
            <div class="md:w-1/3 text-center mb-8 md:mb-0">
                <input type="file" id="profile-pic-upload" name="profileImage" class="hidden" accept="image/*" onchange="previewImage(event)">
                    <label for="profile-pic-upload" class="cursor-pointer">
                        <div class="w-48 h-48 rounded-full bg-white flex items-center justify-center mx-auto mb-4 border-4 border-indigo-800 dark:border-blue-900 transition-transform duration-300 hover:scale-105 relative dark:bg-gray-800">
                            <img id="profile-pic" src="" alt="Profile Picture" class="hidden w-full h-full rounded-full object-cover" />
                            <svg id="camera-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-20 h-20 text-gray-600 dark:text-gray-300">
                                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                    <path d="M12.857 3.189h-1.714c-.681 0-1.022 0-1.331.094c-.274.083-.529.22-.75.401c-.25.205-.438.489-.816 1.056L7.103 6.454c-1.524 0-2.286 0-2.868.296a2.72 2.72 0 0 0-1.188 1.19c-.297.581-.297 1.343-.297 2.867v5.651c0 1.524 0 2.286.297 2.868c.26.512.677.928 1.188 1.189c.582.296 1.344.296 2.868.296h9.794c1.524 0 2.286 0 2.868-.296a2.72 2.72 0 0 0 1.188-1.19c.297-.581.297-1.343.297-2.867v-5.651c0-1.524 0-2.286-.297-2.868a2.72 2.72 0 0 0-1.188-1.189c-.582-.296-1.344-.296-2.868-.296L15.754 4.74c-.378-.567-.567-.85-.816-1.056a2.2 2.2 0 0 0-.75-.401c-.309-.094-.65-.094-1.331-.094" />
                                    <path d="M15.775 13.212a3.775 3.775 0 1 1-7.55 0a3.775 3.775 0 0 1 7.55 0" />
                                </g>
                            </svg>
                            <span class="absolute inset-0 bg-blue-200 opacity-30 rounded-full"></span>
                        </div>
                    </label>
                </div>
                <div class="md:w-2/3 md:pl-8">
                    <div class="grid gap-2 sm:gap-6 mb-2 md:grid-cols-2">
                        <div class="block items-center sm:pt-4">
                            <label class="flex items-center text-sm">
                                <span class="text-gray-700 dark:text-gray-400 mb-2">
                                    Email
                                </span>
                            </label>
                            {{ form_widget(form.email) }}
                        </div>

                        <div class="block items-center sm:pt-4">
                            <label class="flex items-center text-sm">
                                <span class="text-gray-700 dark:text-gray-400 mb-2">
                                    Negocio
                                </span>
                            </label>
                            {{ form_widget(form.username) }}
                        </div>
                        <div class="block items-center">
                            <label class="flex items-center text-sm">
                                <span class="text-gray-700 dark:text-gray-400 mb-2">
                                    Password
                                </span>
                            </label>
                            {{ form_widget(form.password) }}
                        </div>
                        <div class="block items-center">
                            <label class="flex items-center text-sm">
                                <span class="text-gray-700 dark:text-gray-400 mb-2">
                                    Confirm Password
                                </span>
                            </label>
                            {{ form_widget(form.confirmPassword) }}
                        </div>
                        {# <div class="block items-center">
                            <label class="flex items-center text-sm">
                                <span class="text-gray-700 dark:text-gray-400 mb-2">
                                    Roles
                                </span>
                            </label>
                            {{ form_widget(form.roles) }}
                        </div> #}
                        <div class="block items-center">
                            <label class="flex items-center text-sm">
                                <span class="text-gray-700 dark:text-gray-400 mb-2">
                                    Direccion
                                </span>
                            </label>
                            {{ form_widget(form.address) }}
                        </div>
                        <div class="block items-center">
                            <label class="flex items-center text-sm">
                                <span class="text-gray-700 dark:text-gray-400 mb-2">
                                    Telefono
                                </span>
                            </label>
                            {{ form_widget(form.telephone) }}
                        </div>
                    </div>
                    <div class="block items-center pb-4">
                        <label class="flex items-center text-sm">
                            <span class="text-gray-700 dark:text-gray-400 mb-2">
                                Acerca del negocio
                            </span>
                        </label>
                        {{ form_widget(form.aboutus) }}
                    </div>
                    {{ form_widget(form) }}
                    {{ buttons.button_submit(button_label) }}
                    {{ form_end(form) }}
                </div>
            </form>

            <script>
                function previewImage(event) {
                    const input = event.target;
                    const imgElement = document.getElementById('profile-pic');
                    const cameraIcon = document.getElementById('camera-icon');
                    const overlay = document.getElementById('overlay');
                
                    // Verifica si hay un archivo seleccionado
                    if (input.files && input.files[0]) {
                        const reader = new FileReader();
                        
                        // Cuando se carga la imagen
                        reader.onload = function(e) {
                            imgElement.src = e.target.result;
                            imgElement.classList.remove('hidden'); 
                            cameraIcon.classList.add('hidden');
                            overlay.classList.add('hidden'); 
                        }
                        
                        reader.readAsDataURL(input.files[0]); // Leer el archivo como URL de datos
                    }
                }
                </script>
            