{% import 'components/button/index.html.twig' as buttons %}
{% block stylesheets %}
    <style>
        .flex-row {
            color-
    display: flex;
    flex-direction: row;
}

.flex-row input[type="radio"] {
    margin-right: 1rem; /* Espacio entre el botón de opción y el texto */
}

.flex-row label {
    display: flex; /* Para alinear el texto y el botón */
    align-items: center; /* Centrar verticalmente */
}
    </style>
{% endblock %}
<form method="POST" enctype="multipart/form-data">
    {{ form_start(form) }}
    <div class="bg-white dark:bg-gray-800 rounded-xl shadow-2xl w-full p-8 transition-all duration-300 animate-fade-in px-4 py-3 mb-8">
        <div class="flex flex-col md:flex-row">
            {% include 'components/ImageUploader.html.twig' %}

            <div class="md:w-2/3 md:pl-8">
                <div class="grid gap-2 sm:gap-6 mb-2 md:grid-cols-2">
                    <div class="block items-center sm:pt-4">
                        <label class="flex items-center text-sm">
                            <span class="text-gray-700 dark:text-gray-400 mb-2">
                                {{ 'form.email'|trans }}
                            </span>
                        </label>
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="block items-center sm:pt-4">
                        <label class="flex items-center text-sm">
                            <span class="text-gray-700 dark:text-gray-400 mb-2">
                                {{ 'form.business'|trans }}
                            </span>
                        </label>
                        {{ form_widget(form.username) }}
                    </div>
                    <div class="block items-center">
                        <label class="flex items-center text-sm">
                            <span class="text-gray-700 dark:text-gray-400 mb-2">
                                {{ 'form.psswd'|trans }}
                            </span>
                        </label>
                        {{ form_widget(form.password) }}
                    </div>
                    <div class="block items-center">
                        <label class="flex items-center text-sm">
                            <span class="text-gray-700 dark:text-gray-400 mb-2">
                                {{ 'form.re-psswd'|trans }}
                            </span>
                        </label>
                        {{ form_widget(form.confirmPassword) }}
                    </div>
                    <div class="block items-center">
                        <label class="flex items-center text-sm">
                            <span class="text-gray-700 dark:text-gray-400 mb-2">
                                Roles
                            </span>
                        </label>
                        {{ form_widget(form.roles) }}
                    </div>
                    <div class="block items-center">
                        <label class="flex items-center text-sm">
                            <span class="text-gray-700 dark:text-gray-400 mb-2">
                                {{ 'form.address'|trans }}
                            </span>
                        </label>
                        {{ form_widget(form.address) }}
                    </div>
                    <div class="block items-center">
                        <label class="flex items-center text-sm">
                            <span class="text-gray-700 dark:text-gray-400 mb-2">
                                {{ 'form.phone'|trans }}
                            </span>
                        </label>
                        {{ form_widget(form.telephone) }}
                    </div>
                </div>
                <div class="block items-center pb-4">
                    <label class="flex items-center text-sm">
                        <span class="text-gray-700 dark:text-gray-400 mb-2">
                            {{ 'form.business_about'|trans }}
                        </span>
                    </label>
                    {{ form_widget(form.aboutus) }}
                </div>
                {% include 'components/button/ButtonBotton.html.twig' with { button: buttons.button_submit() } %}
            </div>
            {{ form_end(form) }}
        </form>
        